<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		<%- include("partials/header"); -%>
		<main>
			<div class="intro">
				<div class="text">
					<h1>Hello</h1>
					<p><%= HomeStarters %></p>
					<a href="/compose" class="compose">Create New</a>
				</div>
				<img src="/text.png" alt="Blog image" height="200" width="350" />
			</div>
			<div class="blogs">
				<h1>Blogs</h1>
				<div class="cards">
					<% if (DaBlog.length !== 0){ %> <% DaBlog.forEach(function(idk) { %>
					<div class="card">
						<h2><%=idk.title %></h1>
						<h4>By - <%= idk.author %></h2>
						<p>
							<%=idk.content.substring(0, 100) + " .." %>
							<a href="/post/<%=idk.id%>">Read More</a>
						</p>
					</div>
					<% })} else { %>
					<h2>No current Blog</h2>
					<% }%>
				</div>
			</div>
		</main>

		<%- include("partials/footer"); -%>
	</body>
</html>
